h1.proj{
    font-family: 'Sedgwick Ave';
}
p.title {
    font-family: 'Sedgwick Ave';
    font-size: 36px;

}
ul {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}


p.exp {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

div.jobDesc p{
    font-size: 16px;
}

.navbar.navbar-default.navbar-static-bottom {
    margin-bottom: 0;
}

.navbar a{
    color: white
}

div.home .navbar-inverse {
    background-color: black;
    border-color: black;
}
.navbar-inverse {
    background-color: #f5b814;
    border-color: #f5b814;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif, bold;
    font-size: 20px;
}

/*.btn-warning {*/
    /*color: #fff;*/
    /*background-color: #6d5ca0;*/
    /*border-color: #6d5ca0;*/
/*}*/

/*.btn-primary {*/
    /*color: #fff;*/
    /*background-color: #204d74;*/
    /*border-color: #204d74;*/
/*}*/

/*.btn-danger {*/
    /*color: #fff;*/
    /*background-color: #040145;*/
    /*border-color: #040145;*/
/*}*/

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.col-sm-6 h2 {
    margin-top: 40px;

}

.col-sm-6 img {
    padding-top: 40px;
}

.jumbotron {
    background-color: white;
    box-shadow: 0px 4px 32px -8px rgb(76, 73, 73);
    padding: 20px 20px;
    margin-bottom: 15px;
    font-family: 'Sedgwick Ave', cursive;    /*font-family: 'Sacramento';*/
    background-image: url("Abstract-Painting.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1, h2, h3 {
    color: white;
}

.jumbotron h1 {
    font-size: 64px;
}

h2 {
    font-family: 'Sedgwick Ave', cursive;
    color: black;
}
.jumbotron img{
    width: 600px;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}

a.btn.btn-primary.btn-block {
    font-family: 'Quicksand', sans-serif;
}

.bio p {
    padding-bottom: 50px;
}

.jumbotron i {
    padding-left: 12px;
}
